from datetime import timedelta

# General
DEBUG = 
SECRET_KEY = ''

# DB
SQLALCHEMY_DATABASE_URI = ''
SQLALCHEMY_TRACK_MODIFICATIONS = 

# JWT
JWT_TOKEN_LOCATION = ''
JWT_COOKIE_CSRF_PROTECT =
JWT_ACCESS_TOKEN_EXPIRES = timedelta(minutes=30)
JWT_COOKIE_SECURE =

# Mail
MAIL_HOST = ''
MAIL_PORT = ''
MAIL_LOGIN_USER = ''
MAIL_LOGIN_PASS = ''
MAIL_FROM = ''
